/* These rules apply screen sizes bigger than a phone*/

body{ 
	margin:0;
	font-family: Avenir Next;
	color: white;
	background:#252B30; 
}

header{
	width: 100%;
	height: 10em;
	background: orange;
	padding-left: 10vh;
	float: top;

}

h1 {
	font-weight: normal;
	font-size: 400%;
}

/*.background{
	background: green;
	width: 100%;
	height: 100%;
}*/

.navbar{
	width: 100%;
	height: 2em;
	background: purple;
	padding-left: 10vh;
}





/* --------- TABS ----------- */
.droptxt {
    background-color: transparent;
    /*padding: 16px;*/
    font-size: 100%;    
    font-weight: lighter;
    border: none;
    color: white;
    opacity: .75;
    height: 5vh;
    overflow: hidden;
}

.dropdown {
	float: left;
	position: relative;
	display: inline-block;
    background-color: blue;
    height: 100%;
    /*top: -50px;
    left: 10px;
    right:10px;*/
   
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: green;
    width:90vw;
    height:20em;
    /*margin: 2vw;
    
    
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/

}

/*.dropdown-content a {
	padding: 12px 12px;
}*/

/*.dropdown-content a:hover {background-color: #ddd}*/

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .droptxt {
    background-color: #transparent;
    padding-bottom:20px;
    top:-10px;
}*/

/*--- TAB ID's ---*/
#about {

}

#grpahic {

}

#industrial {

}

/*--CONTENT ID's --*/
#add{
	background-color: white;
}

#gdd{
	background-color: yellow;
	left:-3.65em;
	width: 90em;

}

#idd{
	left:-8.18em;

}








